<div class="page-container">
	<header class="page-heading">
		<h1 class="heading">{{ content.getTitle() }}</h1>
		<div class="meta-data">
			<span><label>Date Published:</label>{{ content.getDatePublished() }}</span>, 
			<span><label>Published by:</label>{{ content.getAuthoredBy() }}</span>
		</div>		
	</header>
	<article class="page-body">
		<div class="video-player-container">
			<div id="videoPlayer"
				data-video-url="{{ content.getVideoUrl() }}" 
				data-video-thumb="[asset path={{ content.getThumbnailUrlPath() }}]" >
				 Loading the player...
			</div>
			<script type="text/javascript">
				$(document).ready(function () {
					var url = $('#videoPlayer').data("video-url");
					var thumb = $('#videoPlayer').data("video-thumb");
					//console.log(thumb);
					//console.log(url);
					var player = jwplayer("videoPlayer");
					player.setup({
						file: url,
						title: "{{ content.getTitle() }}",
						image: thumb,
						aspectratio: "16:9",
						width: "100%",
						height:"500px",
						mediaid: "5lK6iCm",
						//autostart: true,
					});

					$(".video-player-container").mouseenter(function() {
						player.setControls(true);
					}).mouseleave(function () {
						player.setControls(false);
					});					

					//console.log(player.getProvider());
				});
			</script>
		</div>
		<div class="video-description">
			{{ content.getBody()|raw }}
		</div>
	</article>
</div>

<div class="comment-box">
    [commentbox id=comment]
</div>