						
						<div class="form-group">
							<label>Menu Link Title:</label>
							<input class="form-control" id="menu_title" name="menu_title" type="text" value="{{ flash_data("title") }}" />
							<span class="help-block">The text to be used for this link in the menu.</span>
							{{ flash_error('menu_title') }}
						</div>

						<div class="form-group" >
							<label>Path</label>
							<input class="form-control" type="text" name="menu_path" value="{{ flash_data('menu_path') }}">
							<span class="help-block">Custom url to the page: leave blank to use default</span>
							{{ flash_error('menu_path') }}
						</div>	

						<div class="form-group" >
							<label>Custom Rout Name</label>
							<input class="form-control" type="text" name="route_name" value="{{ flash_data('route_name') }}">
							<span class="help-block">Custom route name</span>
							{{ flash_error('route_name') }}
						</div>												

						<div class="form-group">
							<label>Parent:</label>
							<select name="menu_parent_id" id="menu_parent_id" class="input-select" style="300px">
								<option value="0"> -- Root -- </option>
								{{ parentOption|raw }}
							</select>
							<span class="help-block">The maximum depth for a link and all its children is fixed at 9. Some menu links may not be available as parents if selecting them would exceed this limit.</span>
						</div>

						<div class="checkbox custom-checkbox">
							<label>
								<input type="checkbox" id="menu_visibility" name="menu_visibility" {{ flash_data("menu_visibility") ? 'checked' }} />
								<span class="fa fa-check"></span>Display link on public page
							</label>
							
						</div>

																