
			<form class="" method="post" action="{{ action }}" enctype="multipart/form-data">
				<div class="tabsContainer">
					{% include 'BoabCmsBundle:Admin:form_controls.html.twig' %}
					<div class="tab-content">
						<div id="form-container">
							<input type="hidden" name="post_type" value="create" />

							<div id="main-setting" class="tab-pane form-column-container active">

								<div class="form-group">
									<label>Title: </label>
									<input class="form-control" id="page_title" name="page_title" type="text" value="{{ flash.getData('page_title') }}" />
									{{ flash_error('page_title') }}
								</div>

								<div class="form-group">
									<label>Summary:</label>
									<textarea class="form-control" name="page_summary" >{{ flash_data('page_summary') }}</textarea>
									{{ flash_error('page_summary') }}
								</div>

								<div class="form-group">
									<label>Body:</label>
									<textarea class="form-control desc" id="editor-full" name="page_body" >{{ flash_data('page_body') }}</textarea>
									{{ flash_error('page_body') }}
								</div>

								{% include 'BoabCmsBundle:Admin:thumbnail.html.twig' %}

								<div class="clear"></div>
							</div>

							<div id="menu-setting" class="tab-pane form-column-container">
								<div  class="checkbox custom-checkbox">
									<label>
										<input type="checkbox" id="menu_enable" name="menu_enable" class="input-extra-settings" data-setting-target="menu-setting-box" {{ flash_data("menu_enable") ? 'checked' }} />
										<span class="fa fa-check"></span>Provide Menu for content
										<i class="help-block">Leave blank for Anonymous.</i>
									</label>
									
								</div>

								<div id="menu-setting-box" class="{{ content.hasRoute() ? 'slide-down' : 'slide-up' }}">
									{% if content.hasRoute() == false %}
										{% include 'BoabCmsBundle:Admin:content_menu_option.html.twig' %}
									{% endif %}
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>

							<div id="seo-setting" class="form-column-container">							
								<div class="form-group">
									<label>Meta Keywords: </label>
									<input class="form-control" id="meta_keywords" name="meta_keywords" type="text" value="{{ flash_data('meta_keywords') }}" />
									{{ flash_error('meta_keywords') }}
								</div>
								<div class="form-group">
									<label>Meta Description: </label>
									<input class="form-control" id="meta_description" name="meta_description" type="text" value="{{ flash_data('meta_description') }}" />
									{{ flash_error('meta_description') }}
								</div>								
							</div>

							<div id="other-setting" class="tab-pane form-column-container">
								{% include 'BoabCmsBundle:Admin:add_content_other_settings.html.twig' %}
							</div>
						</div>
						<div class="submit-box">
							<button class="btn btn-green isThemeBtn" id="submit">submit</button>
						</div>
					</div>
				</div>
			</form>
