

                <form method="post" action="{{ action }}" enctype="multipart/form-data">
                    <div class="tabsContainer">
                        <ul class="nav nav-tabs nav-justified">
                            {% block tabs %}
                            <li class="active"><a class="tab" role="tab" data-toggle="tab" data-tab="main-setting" href="#main-setting">Content</a></li>
                            <li><a class="tab" role="tab" data-toggle="tab" data-tab="seo-setting" href="#seo-setting">SEO Settings</a></li>
                            <li><a class="tab" role="tab" data-toggle="tab" data-tab="other-setting" href="#other-setting">Other Settings</a></li>
                            <li><a class="tab" role="tab" data-toggle="tab" data-tab="gallery-setting" href="#gallery-setting">Gallery Settings</a></li>                            
                            {# tabControls #}
                            {% endblock %}
                        </ul>                         
                        <div class="tab-content">
                            <div id="form-container">
                                <input type="hidden" name="post_type" value="create" />
                                
                                {% block form %}
                                <div id="main-setting" class="tab-pane form-column-container active">

                                    <div class="form-group">
                                        <label>Title:</label>
                                        <input class="form-control" id="page_title" name="page_title" type="text" value="{{ content.getTitle()  ? content.getTitle() : flash_data('page_title') }}" />
                                        {{ flash_error('page_title') }}
                                    </div>

                                    <div class="form-group">
                                        <label>Summary:</label>
                                        <textarea class="form-control" name="page_summary" >{{ content.getSummary() ? content.getSummary() : flash_data('page_summary') }}</textarea>
                                        {{ flash_error('page_summary') }}
                                    </div>

                                    <div class="form-group">
                                        <label>Body:</label>
                                        <textarea class="form-control content-editable" id="editor-fullxx" name="page_body" >
                                            {{ content.getBody() ? content.getBody() : flash_data('page_body') }}
                                        </textarea>
                                        {{ flash_error('page_body') }}
                                    </div>

                                    {% include 'BoabCmsBundle:Admin:thumbnail.html.twig' %}

                                    <div class="clear"></div>
                                </div>

                                <div id="seo-setting" class="tab-pane form-column-container">
                                    <div class="form-group">
                                        <label>Meta Keywords</label>
                                        <input class="form-control" id="meta_keywords" name="meta_keywords" type="text" value="{{ flash_data('meta_keywords', content.getMetaKeyWords()) }}" />
                                         {{ flash_error('meta_keywords') }}
                                    </div>
                                    <div class="form-group">
                                        <label>Meta Description:</label>
                                        <input class="form-control" id="meta_description" name="meta_description" type="text" value="{{ flash_data('meta_description', content.getMetaDescription()) }}" />
                                        {{ flash_error('meta_description') }}
                                    </div>								
                                </div>

                                <div id="other-setting" class="tab-pane form-column-container">
                                    {% include 'BoabCmsBundle:Admin:other_settings_edit.html.twig' %}
                                </div>

                                <div id="gallery-setting" class="tab-pane form-column-container">
                                    {% if albumPhotos is defined %}
                                        {{ albumPhotos|raw }}
                                    {% endif %}
                                    <div class="btn-add-image">
                                        <a  class="add-photo" data-album-id="{{ content.getId() }}" href="">Add Image</a>
                                    </div>
                                </div>
                                {% endblock %}							
                                
                            </div>
                            <div class="submit-box">
                                <button class="btn btn-green isThemeBtn" id="submit">submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% include 'BoabCmsBundle:Script:photo_entry.js.twig' %}
                {% include 'BoabCmsBundle:Script:photo_wrapper_tpl.js.twig' %}
                {% include 'BoabCmsBundle:Script:progress_bar_tpl.js.twig' %}
