      <!-- mainslider -->
      <div class="win-height mainslider">
        <div class="tp-banner-container">
          <div class="tp-banner" >
            <ul>
              <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="{{ asset('theme/kantua/images/banners/studio.jpg') }}" data-delay="13000"  data-saveperformance="off"  data-title="We are a creative agency">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('theme/kantua/images/banners/studio.jpg') }}" alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption fullgradient_overlay tp-fade fadeout tp-resizeme title2 margin-bottom-20"
                      data-x="center" data-hoffset="8"
                      data-y="center" data-voffset="-67"
                      data-speed="1000"
                      data-start="1500"
                      data-easing="Power4.easeOut"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-endspeed="500"
                      data-endeasing="Power1.easeOut"
                      style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:3px;">
                        Extra Flexible <span class="add">&amp;</span> Unique Design
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-fade fadeout heading2"
                      data-x="center" data-hoffset="-32"
                      data-y="center" data-voffset="-15"
                      data-speed="500"
                      data-start="500"
                      data-easing="Power4.easeOut"
                      data-splitin="chars"
                      data-splitout="chars"
                      data-elementdelay="0.05"
                      data-endelementdelay="0.05"
                      data-endspeed="300"
                      style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:3px;">
                        HANDCRAFTED DESIGNS 

                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption customin tp-resizeme btn-box"
                      data-x="center" data-hoffset="0"
                      data-y="center" data-voffset="60"
                      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                      data-speed="500"
                      data-start="2900"
                      data-easing="Power3.easeInOut"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-linktoslide="next"
                      style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="about-us.html" class="btn btn-f-default">LEARN MORE</a>
                    </div>
                </li>

              <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="{{ asset('theme/kantua/images/banners/artist.jpg') }}" data-delay="13000"  data-saveperformance="off"  data-title="We are a creative agency">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('theme/kantua/images/banners/artist.jpg') }}" alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption fullgradient_overlay tp-fade fadeout tp-resizeme title2 margin-bottom-20"
                      data-x="center" data-hoffset="8"
                      data-y="center" data-voffset="-67"
                      data-speed="1000"
                      data-start="1500"
                      data-easing="Power4.easeOut"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-endspeed="500"
                      data-endeasing="Power1.easeOut"
                      style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:3px;">
                        Extra Flexible <span class="add">&amp;</span> Unique Design
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-fade fadeout heading2"
                      data-x="center" data-hoffset="-32"
                      data-y="center" data-voffset="-15"
                      data-speed="500"
                      data-start="500"
                      data-easing="Power4.easeOut"
                      data-splitin="chars"
                      data-splitout="chars"
                      data-elementdelay="0.05"
                      data-endelementdelay="0.05"
                      data-endspeed="300"
                      style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:3px;">
                        HANDCRAFTED DESIGNS 

                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption customin tp-resizeme btn-box"
                      data-x="center" data-hoffset="0"
                      data-y="center" data-voffset="60"
                      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                      data-speed="500"
                      data-start="2900"
                      data-easing="Power3.easeInOut"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-linktoslide="next"
                      style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="about-us.html" class="btn btn-f-default">LEARN MORE</a>
                    </div>
                </li>                

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="{{ asset('theme/kantua/images/banners/studio2.jpg') }}" data-delay="13000"  data-saveperformance="off"  data-title="World Class Digital">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('theme/kantua/images/banners/studio2.jpg') }}" alt="kenburns1"  data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-fade fadeout heading2"
                      data-x="center" data-hoffset="5"
                      data-y="center" data-voffset="-70"
                      data-speed="500"
                      data-start="500"
                      data-easing="Power4.easeOut"
                      data-splitin="chars"
                      data-splitout="chars"
                      data-elementdelay="0.05"
                      data-endelementdelay="0.05"
                      data-endspeed="300"
                      style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:3px;">
                        experiences &amp; Excellence
                    </div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption fullgradient_overlay tp-fade fadeout tp-resizeme title2"
                      data-x="center" data-hoffset="0"
                      data-y="center" data-voffset="0"
                      data-speed="1000"
                      data-start="1500"
                      data-easing="Power4.easeOut"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-endspeed="500"
                      data-endeasing="Power1.easeOut"
                      style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:3px;">
                        We love clean design and advanced digital solutions
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption customin tp-resizeme btn-box add"
                      data-x="center" data-hoffset="0"
                      data-y="center" data-voffset="75"
                      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                      data-speed="500"
                      data-start="2900"
                      data-easing="Power3.easeInOut"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-linktoslide="next"
                      style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a href="index-2.html" class="btn btn-f-default">LEARN MORE</a>
                    </div>
                </li>                
            </ul>
          </div>
        </div>
      </div>